
//カテゴリーのラベル 黄色バージョン//
.c-label-yellow{
    display: inline-block;
    font-size: rem(14);
    color: #333;
    border: 1px solid #FFEA2E;
    background-color: #FFEA2E;
    padding: rem(3) rem(10);
}