
//カテゴリーのラベル blog(黄色)バージョン//
.c-label-blog{
    display: inline-block;
    font-size: rem(14);
    color: #000;
    border: 1px solid $yellow;
    background-color: $yellow;
    padding: rem(3) rem(5);
}