.c-page-char{
  background-color: black;
  font-size: rem(16);
  line-height: 1;
  color:white;
  min-width: rem(71);
  text-align: center;
  padding: rem(3) rem(13);
  border: rem(1) solid white;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: 0.002em;
}
.c-page-char:hover{
  background-color: #333;
}