.c-pager{
  display: flex;
}

.c-pager__page{
  margin-right: rem(16);
}

.c-pager__page.c-page--next{
  margin-left: rem(24);
}

.c-pager__page.c-page--prev{
  margin-right: rem(24);
}

.c-pager__page.c-page--list{
  margin-right: 0;
}