.c-pc-nav{
  display:none;

  @include mq("pc"){
    display: flex;
  }
}

.c-pc-nav__items{
  padding-right: rem(30);
  letter-spacing: rem(2);
  line-height:rem(50);
  position: relative;
}

.c-pc-nav__items::after{
    position:absolute;
    content:'';
    left:0;
    bottom:rem(10);
    width:calc( 100% - #{rem(30)});
    height:rem(1);
    background: $yellow;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }

.c-pc-nav__items:hover::after{
      transform: scale(1,1);
}

.c-pc-nav__contact{
  width:rem(170);
  max-width:100%;
  height:rem(50);
}
