
//セクションタイトル
.c-section__title{
    color: #fff;
    // background-color: #111;
    font-size: rem(20);
    text-align: center;
    position: relative;
    letter-spacing: rem(2);

    @include mq(tab){
        font-size: rem(30);
        line-height: calc( 35 / 30 );
    }
    
}

