.c-tab__item{
  font-size: rem(16);
  letter-spacing: rem(2);
  padding: rem(3) rem(10);
  margin-right: 0;
  line-height: 1;
  text-align: center;
  color:$white;
  display: inline-block;
  transition: 0.3s ease-in-out;
  @include mq(tab){
    margin-right: rem(24);
  }
}

.c-tab__item:nth-child(n + 4){
  margin-top: rem(17);

  @include mq(tab){
    margin-top: 0;
  }
}

.c-tab__item:hover{
  background-color: $gray;
}

.c-tab__item.c-tab__item--curent{
  background-color: $white;
  color:$gray;
}

