<div class="l-footer p-footer">
  <br><br><br><br><br><br><br>
  <br>
  これはフッターです

  <div style="background-color: black;">
  <%- include('../parts/_c-pager') %>

  <%- include('../parts/_c-tab') %>
 </div>
</div>
