<div class="l-footer p-footer">
  <br><br><br><br><br><br><br>
  <br>
  これはフッターです
  <!-- <div class="c-page-char">一覧</div>
  <div class="c-page-char">PREV</div>
  <div class="c-page-char">NEXT</div>
  <div class="c-page c-page--curent">1</div>
  <div class="c-page">2</div>
  <div class="c-page">113</div>
  <div class="c-page">14</div> -->
  <div style="background-color: black;">
  <%- include('../parts/_c-pager') %>
  <%- include('../parts/_c-pager-list') %>

  <%- include('../parts/_c-tab') %>
 </div>
    <div class="c-page">113</div>
  
  <br>
  <br>
  <br>
</div>
