
<!--お問い合わせセクション-->

    <section class="l-inquiry p-inquiry">
    <div class="l-inner">
        <h2 class="l-inquiry__title c-inquiry__title">
            <%- include('../common/_section__title',{text:'お問い合わせ'}) %>
        </h2><!-- /.l-inquiry__title -->
        
        <p class="l-inquiry__text c-inquiry__text">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </p><!-- /.l-inquiry__text -->
        
        <div class="l-inquiry__btn c-inquiry__btn">
        <%- include('../parts/_c-btn-black',{link:'#' ,text:'お問い合わせへ'}) %>

        </div><!-- /.inquiry__btn -->
        
        
    </div><!-- /.l-inner -->
</section><!-- /.inquiry -->