.p-cards__item{
    width: 100%;
    max-width: rem(375);
    margin: rem(24) auto 0;

    @include mq(tab){
        margin: rem(48) rem(24) 0 0;
        width: calc(33.3333333% - 48px / 3);
    }
}

.p-cards__item:nth-child(3n) {

    @include mq(tab){
        margin-right: 0;

    }
}