
//問い合わせセクション//

.p-inquiry{
    background-color: #3D3D3D;
}


.p-inquiry__title{
}


.p-inquiry__text{
    font-size: $font-size-base;
    letter-spacing: 0.025em;
    color: #fff;

    @include mq(tab){
        text-align: center;
        
    }
}

.p-inquiry__btn{
}
