.p-news-item {
 
  @include mq(tab) {
    display: flex;

  }
}

.p-news-item__date {
 display: inline-block;
 font-size: rem(16);

}

.p-news-item__category{
  display: inline-block;
  font-size: rem(14);
  padding: rem(7) rem(21);
  line-height: 1;
  margin-left: rem(29);
  border: 1px solid $white;

  @include mq(tab) {
    margin-left: rem(44);
  }

}

.p-news-item__body{
  margin-top: rem(16);
  line-height: (23.17/16);

@include mq(tab) {
  max-width: rem(572);
  margin-top: 0;
  padding-top: rem(3);
  margin-left: rem(61);
  
  }
}

.p-news-item__body:hover {
  color: $english-yellow;
}

.p-news-item__title {
  display: inline-block;
  font-size: rem(16);

 
}