
.p-sub-content__title{
    font-size: rem(20);
    text-align: center;
    margin-top: rem(74);

    @include mq(tab){
        font-size: rem(25);
    }

}

.p-sub-content__text{
    text-align: left;
    margin-top: rem(20);
    line-height: 1.7;

    @include mq(tab){
        text-align: center;
        line-height: (35 / 16);

    }
}

.p-sub-content__detail{
    margin-top: rem(80);
}


.p-sub-content__items{
    margin-top: rem(45);
}

.p-sub-content__item{
    margin-top: rem(86);

    @include mq(tab){
        margin-top: (104);
    }
}

.p-sub-content__item:first-child{
    margin-top: rem(-18);

    @include mq(tab){
        margin-top: (104);
    }
}



.p-sub-content__inquiry{
    margin-top: rem(160);

    @include mq(tab){
        margin-top: rem(202);

    }
}