.p-sub-detail-title__titleText{
  font-size: rem(20);
  line-height:rem(35);
  letter-spacing: rem(0.4);
  margin-bottom: rem(16);

  @include mq(tab){
  font-size: rem(23);
  font-weight: 500;
  margin-bottom:rem(32);
  }
}

.p-sub-detail-title__meta{
  display: flex;
  align-items: center;
}

.p-sub-detail-title__meta--date{
  margin-right: rem(30);
}
