.p-sub-contact__lists{
    margin-top: rem(26);
    @include mq(tab){
      margin-top: rem(58);
    }
}

.p-sub-contact__breadcrumb{
  margin-top: rem(12);
}

.p-sub-contact__btn {
  width: rem(335);
  max-width: 100%;
  margin: rem(42) auto 0;
  @include mq(tab){
    width: rem(360);
    margin: rem(50) auto 0;
  }
}

.p-sub-contact__btn input[type="submit"]{
  padding: rem(9);
  letter-spacing: rem(2);
  font-size: rem(20);
  line-height: 1.5;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  @include mq(tab){
    font-size: rem(16);
    padding: rem(17);
  }
}

.p-sub-contact__btn input[type="submit"]:hover {
  background:  transparent;
  border-color:  transparent;
}

.p-sub-contact__footer{
  margin-top: rem(130);
  @include mq(tab){
    margin-top: rem(174);
  }
}