.p-sub-overview-list__item{
  display: flex;
  font-size: rem(13);
  border-bottom: 1px solid $white;
  padding: rem(18) 0 rem(20) rem(1);
  @include mq(tab){
    font-size: rem(16);
    padding: rem(30) rem(5) rem(26) 0;
  }
}

.p-sub-overview-list__title{
  max-width: rem(100);
  padding-left: rem(5);
  width: 100%;
  @include mq(tab){
    max-width: rem(143);
  }
}

.p-sub-overview-list__text{
  margin-left: rem(14);
  max-width: calc(100% - #{rem(100)});
  width: 100%;
  @include mq(tab){
    max-width: calc(100% - #{rem(143)});
  }
}
