
.p-sub-content__titile{
    font-size: rem(25);
    text-align: center;
    margin-top: rem(60);

}

.p-sub-content__text{
    text-align: center;
    margin-top: rem(20);
}

.p-sub-content__detail{
    margin-top: rem(80);
}