.p-top-mediaText {
 background: $contact-bg;

 @include mq(tab) {
   padding: rem(81) 0 rem(43);
   background: linear-gradient(to right,  transparent  30%,  $contact-bg 30%);
 }

}


.p-top-mediaText.p-top-mediaText--reverse {
  
  @include mq(tab) {
   padding: rem(81) 0;
   background: linear-gradient(to left,  transparent  30%,  $contact-bg 30%);
 }

}

.p-top-mediaText__content {

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }
}

.p-top-mediaText__content.p-top-mediaText__content--reverse {

  @include mq(tab) {
    flex-direction: row-reverse;

  }
}

.p-top-mediaText__swiper  {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  padding-bottom: rem(33);
 
@include mq(tab) {
  width: 560 / 1100 * 100%;
  margin: 0;
  padding-bottom: rem(38);
}
}

.p-top-mediaText__swiper-wrapper {
@include mq(tab) {
  width: 100%;
}
}

.p-top-mediaText__swiper-slide {
  @include mq(tab) {
    width: 100%;
  }

}

.p-top-mediaText__swiper-pagenation.swiper-pagination {

  @include mq(tab) {
    left: rem(-22);
    
  }
  
}

.p-top-mediaText .swiper-pagination-bullet {
  margin-left: rem(6);
  margin-right: rem(6);
  width: rem(8);
  height: rem(8);
  background: #C4C4C4;
  opacity: 1;
}

.p-top-mediaText .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
}

.p-top-mediaText .swiper-pagination-bullet-active  {
  background: $english-yellow;
}


.p-top-mediaText__img {
 
  position: relative;
  
  @include mq(tab) {
    margin: 0;    
    width: 100%;
    
  }
  }

.p-top-mediaText__img.p-top-mediaText__img--reverse {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  position: relative;
  
  @include mq(tab) {
    margin: 0;    
    width: 560 / 1100 * 100%;
  }
  }

  .p-top-mediaText__img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($color: $background, $alpha: 0.4);
    position: absolute;
    top: 0;
    left: 0;


  }
  .p-top-mediaText__img--reverse::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($color: transparent, $alpha: 0);
    position: absolute;
    top: 0;
    left: 0;


  }
  
  .p-top-mediaText__img::before {
    padding-top: 261 / 375 * 100%; //画像縦 / 横
    display: block;
    content: "";
  
  }
  
  .p-top-mediaText__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

.p-top-mediaText__body {
  padding: 0 0 rem(21);
  @include mq(tab) {
    padding: rem(25) 0 0;
    width: 510 / 1100 * 100%;
  }
}
.p-top-mediaText__body.p-top-mediaText__body-reverse {
  padding: rem(32) 0 rem(21);
  @include mq(tab) {
    padding: rem(24) 0 rem(21);
    
  }
}

.p-top-mediaText__title {
 font-size:rem(20) ;
 letter-spacing: 0.1em;
 text-align: center;
 margin-top: rem(-10);

 @include mq(tab) {
   margin-top: initial;
   font-size: rem(25);
   letter-spacing: 0.025em;
   text-align: left;
 }

}

.p-top-mediaText__text{
 margin-top: rem(24);
 font-size: rem(16);
 letter-spacing: 0.125em;
 line-height: (23.17 / 16);

@include mq(tab) {
  font-size: rem(16);
  letter-spacing: 0.0313em;
  margin-top: rem(35);
  line-height: 2.1875;


}
}

.p-top-mediaText__btn{
  margin: rem(24) auto 0;
    width: 100%;
    max-width: rem(335);

    @include mq(tab) {
      margin: rem(48) 0 0;
      min-width: rem(360);
    }
}
