.p-top-overview{
 position: relative;
}

.p-top-overview::before {
  content: "";
  display: block;
  width: rem(1);
  height: calc(1448/ 375 * 100vw);
  background: $english-yellow;
  position: absolute;
  top: -91%;
  left: 46%;
  transform: rotate(15deg);
  z-index: -1;
  @include mq(tab) {
    
    content: "";
    height: calc(1712 / 1280 * 100vw);
    top: -70%;
    transform: rotate(45deg);
    
  }
  }

.p-top-overview__title {
  font-weight: 400;
  position: relative;

}

.p-top-overview__title::before {
  content: "Overview";
    position: absolute;
    font-size: rem(50);
    color: $english-yellow;
    position: absolute;
    top: -160%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Noto Serif JP',serif;
    opacity: 0.27;
    letter-spacing: 0.05em;


    @include mq(tab) {
        font-size: rem(110);
        letter-spacing: normal;
        top: -176%;
        left: calc(50% - #{rem(542)});
        transform: none;
}
}


.p-top-overview__body {
margin-top: rem(44);
@include mq(tab) {
  margin-top: rem(40);
  
}

}