<!--カード-->

<div class="c-card">
  <figure class="card__img-wrapper">
    <img class="card__img" alt="" src="/images/common/blog_1.jpg">
  </figure>
  <div class="card__body">
    <h3 class="card__title">
      タイトルが入ります。タイトルが入ります。
    </h3>
    <p class="card__text">
      説明文が入ります。説明文が入ります。説明文が入ります
    </p>

    <%- include('./_c-label',{text:'カテゴリー2'}) %>

      <%- include('./_c-date',{text:'2021.07.21', datetime:'2021-07-21'}) %>


  </div>
  <!-- /.card__body -->
</div>
<!-- /.card -->