<div class="c-pager">
  <div class='wp-pagenavi' role='navigation'>
    <a class="previouspostslink" rel="prev" aria-label="Previous Page" href="#">PREV</a>
    <a class="page smaller" title="Page 1" href="#">1</a>
    <span aria-current='page' class='current'>2</span>
    <a class="page larger" title="Page 3" href="#">3</a>
    <a class="page larger" title="Page 4" href="#">4</a>
    <a class="nextpostslink" rel="next" aria-label="Next Page" href="#">NEXT</a>
  </div>
</div>
