<!--PCメニュー-->
<div class="c-pc-nav pc-nav-wrap">
  <a  class="c-pc-nav__items" href="#">お知らせ</a>
  <a  class="c-pc-nav__items" href="#">事業内容</a>
  <a  class="c-pc-nav__items" href="#">制作実績</a>
  <a  class="c-pc-nav__items" href="#">企業概要</a>
  <a  class="c-pc-nav__items" href="#">ブログ</a>
  <!-- ヘッダーの場合 -->
  <% if (param === 'header') { %>
  <a  class="c-pc-nav__contact" href="#">お問い合わせ</a>
  <!-- その他（フッター）の場合 -->
  <% } else { %>
  <a  class="c-pc-nav__items" href="#">お問い合わせ</a>
  <% } %>
</div>
