<div class="c-pager">
  <a href="#" class="c-page c-page--prev">prev</a>
  <div class="c-pager__pages">
    <span class="c-page c-page--curent">1</span>
    <a href="#" class="c-page">2</a>
    <a href="#" class="c-page">3</a>
    <a href="#" class="c-page">4</a>
  </div>
  <a href="#" class="c-page c-page--next">next</a>
</div>
