<!--PCメニュー-->
<div class="c-pc-nav pc-nav-wrap">
  <a  class="c-pc-nav__items" href="#">お知らせ</a>
  <a  class="c-pc-nav__items" href="content.html">事業内容</a>
  <a  class="c-pc-nav__items" href="works.html">制作実績</a>
  <a  class="c-pc-nav__items" href="overview.html">企業概要</a>
  <a  class="c-pc-nav__items" href="blog.html">ブログ</a>
  <!-- ヘッダーの場合 -->
  <% if (param === 'header') { %>
    <div  class="c-pc-nav__contact"><%- include('./_c-btn-white.ejs',{text:'お問い合わせ', link:'#'}) %></div>
    <!-- その他（フッター）の場合 -->
    <% } else { %>
    <a  class="c-pc-nav__items" href="#">お問い合わせ</a>
  <% } %>
</div>
