<div class="c-tab">
  <a href="#" class="c-tab__item c-tab__item--curent">ALL</a>
  <a href="#" class="c-tab__item">カテゴリ１</a>
  <a href="#" class="c-tab__item">カテゴリカテゴリ</a>
  <a href="#" class="c-tab__item">カテ</a>
</div>
