                          <!--カード複数・3枚横並び-->
                        <div class="l-cards p-cards">
                          <!--カード-->
                          <div class="p-cards__item
                          ">
                            <%- include('../parts/_p-card') %>
                          </div><!-- /.p-cards__item -->
                          <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                          </div><!-- /.p-cards__item -->
                          <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                          </div><!-- /.p-cards__item -->
                        </div><!-- /.p-cards -->
