                          <!--カード複数・3枚横並び-->

                          <div class="l-cards p-cards">
                            <% for (var i=0; i < number; i++) { %>
                            <div class="p-cards__item">
                              <%- include('./_p-card',
                              {text:'カテゴリ',datetime:'2021-07-20'}
                              ) %>
                            </div><!-- /.p-cards__item -->
                              <% } %>                          
                            </div> 
                            <!-- /.p-cards -->
  