<a href="#" class="p-news-item">
  <div class="p-news-item__meta">
    <time class="p-news-item__date" datetime="<%- datetime %>"><%- time %></time>
    <div class="p-news-item__category"><%- category %></div><!-- /.p-news-item__category -->
  </div><!-- /.p-news-item__nav -->
   <div class="p-news-item__body">
     <h2 class="p-news-item__title">
       <%- title %>
     </h2><!-- /.p-news-item__title -->
   </div><!-- /.p-news-item__body -->
</a><!-- /.p-news-item -->