<article class="p-news-item">
  <div class="p-news-item__meta">
    <time class="p-news-item__date" datetime="<%- datetime %>"><%- time %></time>
    <span class="p-news-item__category"><%- category %></span><!-- /.p-news-item__category -->
  </div><!-- /.p-news-item__nav -->
   <div class="p-news-item__body">
     <a href="" class="p-news-item__title">
       <%- title %>
     </a><!-- /.p-news-item__title -->
   </div><!-- /.p-news-item__body -->
</article><!-- /.p-news-item -->