<div class="p-sub-detail-pager">
  <div class='wp-pagenavi' role='navigation'>
    <a class="previouspostslink" rel="prev" aria-label="Previous Page" href="#">PREV</a>
    <a class="backtoarchive" href="<%= link %>">一覧</a>
    <a class="nextpostslink" rel="next" aria-label="Next Page" href="#">NEXT</a>
  </div>
</div>
