<!-- 企業概要一覧 -->
<%
const overviewlists=[
{
  title:"会社名" ,
  text:"株式会社CodeUps"
},
{
  title:"設立" ,
  text:"テキストが入ります。"
},
{
  title:"資本金" ,
  text:"テキストが入ります。"
},
{
  title:"売上高" ,
  text:"テキストが入ります。"
},
{
  title:"代表者" ,
  text:"テキストが入ります。"
},
{
  title:"従業員数" ,
  text:"テキストが入ります。"
},
{
  title:"事業内容" ,
  text:"テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。"
},
{
  title:"所在地" ,
  text:"東京駅"
},
]
%>
<div class="p-sub-overview-list">
  <dl class= "p-sub-overview-list__items">
    <% for (var overviewlist of overviewlists) { %>
      <div class="p-sub-overview-list__item">
        <dt class="p-sub-overview-list__title"><%= overviewlist.title %></dt>
        <dd class="p-sub-overview-list__text"><%= overviewlist.text %></dd>
      </div>
    <% } %>
  </dl>
</div>
