<div class="p-sub-detail-title">
<div class="p-sub-detail-title__titleText"><%= text %></div>
<div class="p-sub-detail-title__meta">
<div class="p-sub-detail-title__meta--date"><%- include('./_c-date',{text:'2020/06/13', datetime:'2020-06-13'}) %></div>
<div class="p-sub-detail-title__meta--category"><%- include('./_c-label',{text:'カテゴリ1'}) %></div>
</div>
</div>