<div class="p-sub-mv">
  <div class="p-suv-mv__img">
    <picture>
      <source srcset="<%= pcImage %>" media="(min-width: 768px)"/><!-- 幅768px以上なら表示 -->
      <img src="<%= spImage %>" alt="MV画像">
    </picture>
  </div><!-- /.p-suv-mv__img -->
  <div class="p-sub-mv__title"><%= title %></div><!-- /.p-sub-mv__title -->
</div><!-- /.p-sub-mv -->
