<div class="p-top-mediaText">
  <div class="l-inner">
    <div class="p-top-mediaText__content">

      <div class="p-top-mediaText__swiper swiper slider2">
        <div class="p-top-mediaText__swiper-wrapper swiper-wrapper">
          <div class="p-top-mediaText__swiper-slide swiper-slide">
            <div class="p-top-mediaText__img">
              <img src="/images/common/top-works1.jpg" alt="works画像">
            </div><!-- /.p-top-mediaText__img -->
          </div>
          <div class="p-top-mediaText__swiper-slide swiper-slide">
            <div class="p-top-mediaText__img">
              <img src="/images/common/top-works2.jpg" alt="works画像2">
            </div><!-- /.p-top-mediaText__img -->
          </div>
          <div class="p-top-mediaText__swiper-slide swiper-slide">
            <div class="p-top-mediaText__img">
              <img src="/images/common/top-works3.jpg" alt="works画像3">
            </div><!-- /.p-top-mediaText__img -->
          </div>
          </div>
          <div class="p-top-mediaText__swiper-pagenation swiper-pagination"></div>
        </div>
        

      <div class="p-top-mediaText__body">
        <div class="p-top-mediaText__title">メインタイトルが入ります。</div><!-- /.p-top-mediaText__title -->
        <div class="p-top-mediaText__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div><!-- /.p-top-mediaText__text -->
        <div class="p-top-mediaText__btn">
          <%- include('../parts/_c-btn-black.ejs',{text:'詳しく見る', link:'#'}) %>
        </div><!-- /.p-top-mediaText__btn -->
      </div><!-- /.p-top-mediaText__body -->
    </div><!-- /.p-top-mediaText__content -->
  </div><!-- /.l-inner -->
  </div><!-- /.p-top-mediaText -->