<div class="p-top-mediaText p-top-mediaText--reverse">
  <div class="l-inner">
    <div class="p-top-mediaText__content p-top-mediaText__content--reverse">
      <div class="p-top-mediaText__img p-top-mediaText__img--reverse">
        <img src="/images/common/top-overview1.jpg" alt="works画像">
      </div><!-- /.p-top-mediaText__img -->
      <div class="p-top-mediaText__body p-top-mediaText__body-reverse">
        <div class="p-top-mediaText__title">メインタイトルが入ります。</div><!-- /.p-top-mediaText__title -->
        <div class="p-top-mediaText__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div><!-- /.p-top-mediaText__text -->
        <div class="p-top-mediaText__btn">
          <%- include('../parts/_c-btn-black.ejs',{text:'詳しく見る', link:'#'}) %>
        </div><!-- /.p-top-mediaText__btn -->
      </div><!-- /.p-top-mediaText__body -->
    </div><!-- /.p-top-mediaText__content -->
  </div><!-- /.l-inner -->
  </div><!-- /.p-top-mediaText -->
