<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <section class="p-404">
      <%- include('./common/_header') %>
      <div class="p-404__inner l-inner">
        <h2 class="p-404__title">404 Not Found</h2>
        <p class="p-404__text">お探しのページは<br class="u-hidden-pc">見つかりませんでした。</p>
        <div class="p-404__btn">
          <%- include('./parts/_c-btn-black',{text:'TOPへ', link:'#'}) %>
        </div>
      </div>
    </section>
    <div class="p-404__footer">
      <%- include('./common/_footer') %>
    </div>
  </body>
</html>
