<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <%- include('./common/_header') %>


        <p><テスト/p>

       <!--お問い合わせセクション-->
       <p>お問い合わせセクション/inquiry</p>
       <%- include('./common/_inquiry') %>　


       <%- include('./common/_footer') %>
    </body>

</html>