//問い合わせセクション//

.l-inquiry{
    padding-top: rem(33);
    padding-bottom: rem(64);

    @include mq(tab){
        padding-top:  rem(100);
        padding-bottom: rem(148);
    }
}

.l-inquiry__title{
    position: relative;

}



.l-inquiry__text{
    margin-top: rem(20);

    @include mq(tab){
        margin-top: rem(24);
    }
}

.l-inquiry__btn{
    text-align: center;
    margin: rem(40) auto 0;
    width: 100%;
    max-width: rem(335);

    @include mq(tab){
        margin-top: rem(60);
        min-width: rem(360);
    }
    
}

